*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.BG{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.unsplash.com/photo-1432139509613-5c4255815697?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}

.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.main{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.main ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.main ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.main ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 75px;
    margin-top: 75px;
}

.content p{
    margin: 10px auto;
}

button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid brown;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: brown;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}



